body {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 35px;
}

p {
    text-align: center;
    font-size: 60px;
    font-weight: bold;
}

#calculator {
    display: grid;
    background-color: #000383;
    grid-template-columns: repeat(4, 80px);
    /*grid-template-rows: repeat(6, 100px);*/
    grid-template-areas:
    'a a a a '
    ' b b b b ';
    margin: 0 auto;
    /*height: 750px;*/
    width: 321px;
    border-radius: 5px;
    border-color: black;
    border-style: solid;
    border-width: 6px;
}

.button {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 35px;
    border-style: solid;
    text-align: center;
    padding: 2px;
    background-color: #9ad9ff;
    width: 70px;
    height: 60px;
    margin: 5px;
    border-radius: 1px;
    font-weight:bold;
}

.clearButton {
    font-family: 'Ubuntu Condensed', sans-serif;
    font-size: 30px;
    border-radius: 1px;
    border-style: solid;
    grid-area: b;
    text-align: center;
    /*padding: 10px;*/
    background-color: #9ad9ff;
    width: 310px;
    height:40px;
    margin: 5px;
    font-weight:bold;
}

#display {
    grid-area: a;
    border-style: solid;
    text-align: right;
    padding: 9px;
    background-color: azure;
    width: 290px;
    height: 50px;
    margin: 5px;
}